*.pyc
.coverage
*.log
.pytest_cache
.DS_store
nodeids
node-modules
qemu/


# Temporary files
kicad/*.000
kicad/*.bak
kicad/*.bck
kicad/*.kicad_pcb-bak
kicad/*.sch-bak
kicad/*~
kicad/_autosave-*
kicad/*.tmp
kicad/*-save.pro
kicad/*-save.kicad_pcb
kicad/fp-info-cache
kicad/*.net
kicad/*.dsn
kicad/*.ses
kicad/*.xml
kicad/*.csv
.history.swp
