<!DOCTYPE html>
<html>
  <head>
    <title>Thermostat Interface</title>
    <link rel="stylesheet" type="text/css" href="./include/main.css"/>
  </head>
  <body>
    <script src="./include/main.js"></script> 
    <table>
      <tr>
        <th colspan="3">Status</th>
        <th></th>
        <th colspan="3">Settings</th>
      </tr>
      <tr>
        <td></td>
        <td>Temperature</td>
        <td id=temperature></td>
        <td class="status" rowspan="3"><span style="font-weight:bold">72</span></td>
        <td></td>
        <td>CoolAt:</td>
        <td id=comfortMax></td>
      </tr>
      <tr>
        <td></td>
        <td>Pressure</td>
        <td id=pressure></td>
        <td></td>
        <td>HeatAt:</td>
        <td id=comfortMin></td>
      </tr>
      <tr>
        <td></td>
        <td>Humidity</td>
        <td id=humidity></td>
        <td></td>
        <td>Mode:</td>
        <td id=mode></td>
      </tr>
      <tr>
        <td colspan="7"></td>
      </tr>
    </table>
    <table>
      <tr>
        <td>
          <button onclick="update()" class="button">Update</button>      
        </td>
        <td>
          <button onclick="toggleMode()" class="button">Mode</button>      
        </td>
        <td>
          <button class="button">Settings</button>      
        </td>
        <td>
          <button class="button">Push me</button>      
        </td>
      </tr>
    </table>
  </body>
</html>