<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=windows-1252">
    <title>temperature Interface</title>
    <link rel="stylesheet" type="text/css" href="./include/main.css">
  </head>
  <body>
    <script src="./include/main.js"></script>
    <table class="info">
      <tbody>
        <tr>
          <th colspan="3">Status</th>
          <th><br>
          </th>
          <th colspan="3">Settings</th>
        </tr>
        <tr>
          <td><br>
          </td>
          <td>Temperature</td>
          <td id="temperatur2e"><br>
          </td>
          <td class="status" id="temperature" rowspan="3">999</td>
          <td><br>
          </td>
          <td>CoolAt:</td>
          <td id="comfortMax"><br>
          </td>
        </tr>
        <tr>
          <td><br>
          </td>
          <td>Pressure</td>
          <td id="pressure"><br>
          </td>
          <td><br>
          </td>
          <td>HeatAt:</td>
          <td id="comfortMin"><br>
          </td>
        </tr>
        <tr>
          <td><br>
          </td>
          <td>Humidity</td>
          <td id="humidity"><br>
          </td>
          <td><br>
          </td>
          <td>Mode:</td>
          <td id="mode"><br>
          </td>
        </tr>
        <tr>
          <td><br>
          </td>
          <td>State</td>
          <td id="state"><br>
          </td>
          <td><br>
          </td>
          <td><br>
          </td>
          <td><br>
          </td>
        </tr>
      </tbody>
    </table>
    <table style="width: 350px; height: 35px;">
      <tbody>
        <tr>
          <td> <button onclick="update()" class="button">Update</button> </td>
          <td> <button onclick="nextMode()" class="button">Mode</button> </td>
          <td> <button onclick="raiseComfort()" class="button">Up</button> </td>
          <td> <button onclick="lowerComfort()" class="button">Down</button> </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
