# /etc/systemd/system/docker-compose-app.service
# https://stackoverflow.com/questions/43671482/how-to-run-docker-compose-up-d-at-system-start-up

[Unit]
Description=FROSTI Thermostat Service
Requires=docker.service
After=docker.service

[Service]
ExecStart=python3 -m frosti
WorkingDirectory=/usr/local/frosti
StandardOutput=inherit
StandardError=inherit
Restart=always
User=frosti

[Install]
WantedBy=multi-user.target
