# /etc/systemd/system/docker-compose-app.service
# https://stackoverflow.com/questions/43671482/how-to-run-docker-compose-up-d-at-system-start-up

[Unit]
Description=FROSTI Thermostat Service
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/usr/local/frosti
ExecStart= /usr/local/bin/docker-compose --file docker/docker-compose-arm.yaml up -d frosti-daemon
ExecStop= /usr/local/bin/docker-compose --file docker/docker-compose-arm.yaml down

[Install]
WantedBy=multi-user.target
