# /etc/systemd/system/docker-compose-app.service
# https://stackoverflow.com/questions/43671482/how-to-run-docker-compose-up-d-at-system-start-up

[Unit]
Description=RPT Thermostat Service
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/usr/local/rpt
ExecStart=/usr/local/rpt/scripts/docker-compose.py up -d --remove-orphans rpt-daemon
ExecStop=/usr/local/rpt/scripts/docker-compose.py down

[Install]
WantedBy=multi-user.target
