/* main.css */

:root {
    background-color: #000000;
    color: #ffffff;
    font-size: 16px;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: green;
}